<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>
<div class="container">
  <br>
  <form action="/articles/save" method="post">
  <div class="card">
    <div class="card-header">Cadastro de Artigo</div>
    <div class="card-body">
      <div class="mb-3">
        <div class="mb-3">
          <label for="category" class="form-label">Categoria</label>
          <select class="form-select form-select" name="categoryId" id="categoryId">
            <option selected>Selecione uma categoria</option>
            <% categories.forEach(category => { %>
             <option value="<%= category.id %>"><%= category.title %> </option>
            <% }) %>
          </select>
        </div>
        <label for="title" class="form-label">Título do artigo</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          aria-describedby="categoryTitleHelp"
          placeholder="Informe o título do artigo"
        /><br>
        <div class="mb-3">
          <label for="body" class="form-label">Corpo do artigo</label>
          <textarea class="form-control" name="body" id="body" rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </div>
</form>
</div>
 <%-
include('../../partials/footer.ejs') %>
  <script src="/js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: 'textarea',
    promotion: false,
    branding: false,
    language: 'pt_BR',
    plugins: [
      // 'paste',
      'advlist',
      'lists',
      'autolink',
      'link',
      'image',
      'preview',
      // 'hr',
      'searchreplace',
      'wordcount',
      'fullscreen',
      'insertdatetime',
      'media',
      'save',
      'table',
      'emoticons'
    ]
  })
</script>
