<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>
<body>
  <div class="container">
    <br>
        <% articles.forEach(article => { %>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> 
                <%= article.title %> 
              </h4>
            </div>
            <div class="card-body">
              <a name="<%= article.id %>" id="<%= article.id %>" class="btn btn-primary" href="/articles/article/<%= article.slug %> " role="button">Ler Artigo</a>
            </div>
          </div>
          <br>
        <% }) %>
        <div class="d-flex justify-content-between">
          <a href="/home/<%= result.pageprev  %> "> <<<< anterior </a>
          <% if(!result.eof){ %> 
            <a href="/home/<%= result.pagenext %> "> proximo >>>> </a>
            <% } %> 
          </div> 
        </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
